In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('../Dataset/yoxi去識別化數據(僅供本次賽事使用)_20220627/yoxi_2021H1.csv')
print(df.shape)
df.head()

(316278, 16)

,yoxi_0,yoxi_1,yoxi_2,yoxi_3,yoxi_4,yoxi_5,yoxi_6,yoxi_7,yoxi_8,yoxi_9,yoxi_10,yoxi_11,yoxi_12,yoxi_13,yoxi_14,yoxi_15
0,60776,34,13204,0,0,POINT (121.5555267 25.0532422),POINT (121.5679253 25.0412553),0,0,0,1,2021-02-17 10:45:39.000,2021-02-17 10:49:04.243,0,[],0
1,60779,34,13204,0,0,POINT (121.5555267 25.0532422),POINT (121.567925 25.041262),0,0,0,0,2021-02-17 10:49:13.000,2021-02-17 10:50:00.540,0,[],0
2,61734,34,4380,2021-02-18 08:22:38.547,2021-02-18 08:27:41.360,POINT (121.54587060213089 25.058407217787671),POINT (121.52883924543858 25.05149683235264),5,2516,0,0,2021-02-18 08:19:44.000,0,0,[2],101-150
3,61775,34,10676,2021-02-18 09:14:10.177,2021-02-18 09:36:49.937,POINT (121.61086957901716 25.059357414355343),POINT (121.5128955245018 25.044088092025909),22,13927,0,0,2021-02-18 09:07:25.000,0,0,[],301-400
4,62030,34,5526,2021-02-18 12:32:07.573,2021-02-18 12:47:54.953,POINT (121.56557478010654 25.034527597856808),POINT (121.540168 25.0671179),15,6327,0,0,2021-02-18 12:23:48.000,0,0,[],201-250

In [16]:
min(df['yoxi_11']), max(df['yoxi_11'])

('2021-01-01 00:00:09.000', '2021-06-30 23:59:41.390')

In [17]:
cust_df = df.drop_duplicates(subset = 'yoxi_2')
cust_df

,yoxi_0,yoxi_1,yoxi_2,yoxi_3,yoxi_4,yoxi_5,yoxi_6,yoxi_7,yoxi_8,yoxi_9,yoxi_10,yoxi_11,yoxi_12,yoxi_13,yoxi_14,yoxi_15
0,60776,34,13204,0,0,POINT (121.5555267 25.0532422),POINT (121.5679253 25.0412553),0,0,0,1,2021-02-17 10:45:39.000,2021-02-17 10:49:04.243,0,[],0
2,61734,34,4380,2021-02-18 08:22:38.547,2021-02-18 08:27:41.360,POINT (121.54587060213089 25.058407217787671),POINT (121.52883924543858 25.05149683235264),5,2516,0,0,2021-02-18 08:19:44.000,0,0,[2],101-150
3,61775,34,10676,2021-02-18 09:14:10.177,2021-02-18 09:36:49.937,POINT (121.61086957901716 25.059357414355343),POINT (121.5128955245018 25.044088092025909),22,13927,0,0,2021-02-18 09:07:25.000,0,0,[],301-400
4,62030,34,5526,2021-02-18 12:32:07.573,2021-02-18 12:47:54.953,POINT (121.56557478010654 25.034527597856808),POINT (121.540168 25.0671179),15,6327,0,0,2021-02-18 12:23:48.000,0,0,[],201-250
5,62173,34,7632,2021-02-18 14:41:25.120,2021-02-18 14:59:36.737,POINT (121.55216122046113 25.030060273731856),POINT (121.5301464 25.0613207),18,5552,0,0,2021-02-18 14:37:37.000,0,0,[],201-250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316125,78066,64,16287,2021-03-02 06:56:39.013,2021-03-02 07:46:58.550,POINT (121.5645389 25.033976),POINT (121.1949833 24.9678305),50,49052,0,0,2021-03-02 06:45:44.000,0,0,[],500-
316134,116940,64,18241,2021-03-26 04:54:43.673,2021-03-26 05:13:04.353,POINT (121.506634071 25.0455889751),POINT (121.5105916 25.0022564),18,5633,0,0,2021-03-26 04:50:29.800,0,0,[1],201-250
316143,119507,64,18833,2021-03-27 09:47:30.230,2021-03-27 09:56:13.023,POINT (121.57790422439574 25.048926291129842),POINT (121.5681767 25.0382675),8,2103,0,0,2021-03-27 09:46:19.767,0,0,[],101-150
316148,122813,64,17874,2021-03-29 10:23:43.847,2021-03-29 10:40:02.803,POINT (121.53982942923902 25.081095779020657),POINT (121.5421798825264 25.049661943855291),16,3950,0,0,2021-03-29 10:16:18.423,0,0,[],151-200
316243,72853,67,16099,0,0,POINT (121.447912 25.057947),0,0,0,0,1,2021-02-26 10:54:21.000,2021-02-26 10:55:20.233,0,[],0

In [24]:
df['yoxi_9'].value_counts()

0     310687
1       4543
10       722
3        229
6         68
4         14
2         14
8          1
Name: yoxi_9, dtype: int64

In [29]:
df = df[(df['yoxi_10'].isin([0])) & (df['yoxi_9'].isin([0]))]
df.head()

,yoxi_0,yoxi_1,yoxi_2,yoxi_3,yoxi_4,yoxi_5,yoxi_6,yoxi_7,yoxi_8,yoxi_9,yoxi_10,yoxi_11,yoxi_12,yoxi_13,yoxi_14,yoxi_15
1,60779,34,13204,0,0,POINT (121.5555267 25.0532422),POINT (121.567925 25.041262),0,0,0,0,2021-02-17 10:49:13.000,2021-02-17 10:50:00.540,0,[],0
2,61734,34,4380,2021-02-18 08:22:38.547,2021-02-18 08:27:41.360,POINT (121.54587060213089 25.058407217787671),POINT (121.52883924543858 25.05149683235264),5,2516,0,0,2021-02-18 08:19:44.000,0,0,[2],101-150
3,61775,34,10676,2021-02-18 09:14:10.177,2021-02-18 09:36:49.937,POINT (121.61086957901716 25.059357414355343),POINT (121.5128955245018 25.044088092025909),22,13927,0,0,2021-02-18 09:07:25.000,0,0,[],301-400
4,62030,34,5526,2021-02-18 12:32:07.573,2021-02-18 12:47:54.953,POINT (121.56557478010654 25.034527597856808),POINT (121.540168 25.0671179),15,6327,0,0,2021-02-18 12:23:48.000,0,0,[],201-250
5,62173,34,7632,2021-02-18 14:41:25.120,2021-02-18 14:59:36.737,POINT (121.55216122046113 25.030060273731856),POINT (121.5301464 25.0613207),18,5552,0,0,2021-02-18 14:37:37.000,0,0,[],201-250

In [33]:
df['yoxi_13'].value_counts()

0      281585
20       1965
50        462
10        162
30         30
100        24
15         14
5          13
1           6
200         5
500         3
150         2
35          2
40          2
70          2
8           1
25          1
90          1
60          1
45          1
520         1
Name: yoxi_13, dtype: int64

In [41]:
df[df['yoxi_13'] != 0]

,yoxi_0,yoxi_1,yoxi_2,yoxi_3,yoxi_4,yoxi_5,yoxi_6,yoxi_7,yoxi_8,yoxi_9,yoxi_10,yoxi_11,yoxi_12,yoxi_13,yoxi_14,yoxi_15
32,68199,34,15915,2021-02-23 09:37:54.723,2021-02-23 10:18:17.880,POINT (121.57574152573943 25.073369581319831),POINT (121.5183256 25.027446),40,9389,0,0,2021-02-23 09:29:58.000,0,20,[],301-400
346,234445,34,13732,2021-05-07 14:09:20.310,2021-05-07 14:16:48.877,POINT (121.54903661459684 25.051833165187773),POINT (121.526107 25.0548084),7,2514,0,0,2021-05-07 14:00:45.510,0,20,[],101-150
527,151798,35,12121,2021-04-11 02:46:12.167,2021-04-11 02:54:25.707,POINT (121.52233321219683 25.030535370933066),POINT (121.54284507036209 25.024854627868841),8,2591,0,0,2021-04-11 02:40:51.667,0,20,[],101-150
798,44733,70,1718,2021-02-02 00:24:53.213,2021-02-02 00:32:47.007,POINT (121.5089529 25.025366),POINT (121.508303 25.04209),7,2160,0,0,2021-02-02 00:18:07.000,0,20,[],101-150
806,47457,70,11595,2021-02-04 00:04:22.957,2021-02-04 00:25:00.627,POINT (121.545929 25.026504),POINT (121.524397 25.1057261),20,10634,0,0,2021-02-03 23:51:11.000,0,20,[2],301-400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315765,290006,1677,25564,2021-06-12 16:32:13.307,2021-06-12 16:44:45.983,POINT (121.497315671 25.0213035556),POINT (121.46487325429916 24.986268567660225),12,6368,0,0,2021-06-12 16:24:35.070,0,20,[],201-250
315792,311849,1678,27113,2021-06-28 10:46:14.700,2021-06-28 11:07:39.080,POINT (121.4845488 25.0053463),POINT (121.54294 24.97517),21,8418,0,0,2021-06-28 10:42:42.953,0,20,[],251-300
315801,281348,1679,18965,2021-06-05 03:26:41.813,2021-06-05 03:45:06.607,POINT (121.520716468 24.9909092194),POINT (121.5496029 25.0555049),18,9627,0,0,2021-06-05 03:21:43.790,0,20,[],251-300
316014,308145,1780,10355,2021-06-25 10:45:35.183,2021-06-25 11:00:42.490,POINT (121.5130869 25.0457505),POINT (121.5044176 25.0089259),15,4953,0,0,2021-06-25 10:40:23.817,0,20,[],151-200
316046,312967,1790,5616,2021-06-29 04:01:48.877,2021-06-29 04:13:50.877,POINT (121.53575649484992 24.985782212331859),POINT (121.5126379 24.9962543),12,3814,0,0,2021-06-29 04:01:16.383,0,20,[],101-150

In [44]:
2698/284283

0.009490542874529958

In [43]:
281585/284283

0.99050945712547

In [34]:
df['yoxi_14'].value_counts()

[]       173384
[2]       76594
[1,2]     28748
[1]        5522
[2,1]        35
Name: yoxi_14, dtype: int64

In [35]:
df['yoxi_15'].value_counts()

101-150    80259
151-200    56721
1-100      55394
201-250    39371
251-300    23188
301-400    19794
401-500     5253
500-        3169
0           1127
Name: yoxi_15, dtype: int64

In [54]:
df['yoxi_7'].describe()

count    284283.000000
mean         12.240911
std           8.088356
min           0.000000
25%           7.000000
50%          11.000000
75%          16.000000
max         981.000000
Name: yoxi_7, dtype: float64